process {
    executor='lsf'
    queue='production-rh74'
    clusterOptions = '-R \"select[hname!=\'hx-noah-05-02\']\"'
}

executor {
    queueSize=1000
    perJobMemLimit=true
    exitReadTimeout='100000 sec'
    pollInterval = '5sec'
}

conda {
    cacheDir = "$SCXA_WORKFLOW_ROOT/envs"
    createTimeout = "30 min"
}

params {
    downloadMethod = 'http'
    maxConcurrentDownloads = 40
}
